<aside class="sidebar shadow-sm">
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="https://ya-webdesign.com/images/avatar-png-1.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <small class="text-uppercase role">{{loginname}}</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-c3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
<div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
  <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
</div>
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-4 mb-4">
      <select class="form-control"  (change)="getValue($event.target.value)">
        <option  *ngFor="let value of trial; let i  = index;"  value="{{value[i]}}">{{value[i]}}</option>
      </select>
    </div>
    <div class="menu-header mt-4 mb-4">
      <select id="sort-item" >
        <option *ngFor="let value1 of trial1; let i  = index;" selected  value="{{value1[i]}}">{{value1[i]}}</option>
      </select>
    </div>
    <!-- <ng-container *ngFor="let value of  trial2; let i  = index;";"
      <li >
        <a (click)="CallHome1(value[i], i)" style="cursor: pointer;" routerLinkActive="active">
          <i class="fas fa-dot-circle fa-2x" [ngClass]="(value[i]['result']==='failure')?'red':'green'"></i>
          <span [title]="value.image_name">{{value[i]['build_number']}} </span>
        </a>
      </li>
    </ng-container> -->


    <div class="view-source mb-3">

    </div>
  </nav>
</aside>
